/* Write your CSS here */
img{
    height: 1.5rem;
    width: 1.5rem;

}
.items-container{
 display: flex;
    gap: 1.3rem;
    margin-left: 0;
/* padding: 0.4rem; */


   

}
ss{
    padding-left: 0.8rem;

}